.math {
  text-align:center;
}

img.math {
    width: inherit;
}

/* Toggle Environment Begin */

.toggle {
    background: none repeat scroll 0 0 #ffffff;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    border: 1px solid #86c6f5;
}

.toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
    font-size: 110% !important;
}

.toggle .admonition-title.open {
    text-align: center;
}

.toggle .admonition-title:after {
    content: " ▼";
}

.toggle .admonition-title.open:after {
    content: " ▲";
}

.toggle p:last-child {
    margin-bottom: 0;
}

/* Toggle Environment End */

.sidebar-btn {
   margin: 0.5em 0 0.5em 0;
   background: none;
   border: none;
}
